[Desktop Entry]
Name=GuideOS Media-Converter
Comment=Konvertiere Bilder, Musik und Dokumente in andere Formate
Exec=/bin/guideos-media-converter.py
Icon=/usr/share/pixmaps/guideos-media-converter.py.png
Terminal=false
Type=Application
Categories=Utility;AudioVideo;Office;
StartupNotify=true

